.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
}

.gradient-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease;
}

.light-gradient {
  background-size: 200% 200%;
  animation: gradientMove 15s ease infinite;
}

.blob {
  position: absolute;
  width: 24rem;
  height: 24rem;
  border-radius: 50%;
  filter: blur(3rem);
  transition: all 0.3s ease;
  animation: blobFloat 7s ease-in-out infinite;
}

.blob-1 {
  top: 0;
  left: -1rem;
  animation-delay: 0s;
}

.blob-2 {
  top: 0;
  right: -1rem;
  animation-delay: 2s;
}

.blob-3 {
  bottom: -2rem;
  left: 5rem;
  animation-delay: 4s;
}

@keyframes gradientMove {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes blobFloat {
  0%, 100% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
}